/* Add your CSS code below */

a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 2px blue solid;
}
.message:first-of-type {
  opacity: 0.5;
}
.message {
  line-height: 45px;
}
