/* Write your media queries and flexbox CSS below */

@media (min-width: 480px) {
  .site-header__nav {
    display: flex;
  }
}

@media (min-width: 700px) {
  .site-header {
    display: flex;
  }
}

@media (min-width: 992px) {
  .site-header {
    display: flex;
    justify-content: center;
  }
  .site-header__checkout {
    margin-left: auto;
  }
  .site-header__logo {
    margin-right: auto;
  }
}

* {
  border: 1px red solid;
}
