/* Try different box model properties below */

.site-header > p {
  color: white;
}

.site-header__title {
  margin-bottom: -20px;
}

.site-footer > p {
  font-size: 12px;
  text-align: center;
}

.message--unread:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
